*{
    padding: 0;
    margin: 0;
}
input[type=text], input[type=password]{
    width: 100;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color:whitesmoke;
}
input[type=text]:focus,[type=password]:focus{
    background-color:rgb(247, 227, 190);
    outline-color: none;
}